.mu-icon-logo {
    background-image: url(../assets/imgs//logo.png);
    background-repeat: no-repeat;
    background-size: 100px;
    height: 100px;
    width: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
}

.header-icon-logo {
    background-image: url(../assets/imgs//space_header.png);
    background-repeat: no-repeat;
    background-size: 30px;
    height: 30px;
    width: 30px;
    position: relative;
    left: 100%;
    margin-left: -30px;   
}

.home-background {
    background-image: url(../assets/imgs//home_background.png);
    background-repeat: no-repeat;
    background-size:  100%;
    height: 100%;
    width: 100%;
}
