.mu-icon-logo {
    background-image: url(../assets/imgs//logo.png);
    background-repeat: no-repeat;
    background-size: 100px;
    height: 100px;
    width: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
}

.space_header_background {
    //background-image: url(../assets/imgs//space_header.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80px;
    width: 100%;
    position: relative;
}