<ion-header>
    <ion-navbar>
        <ion-buttons start menuToggle>
            <button ion-button>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Parking</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="home-background">
    <ion-input type="text" [(ngModel)]="speakText[0]" hidden></ion-input>
    <ion-card *ngFor="let item of parkingLotsCollection; let i = index;" style="padding:0px">
        <div [ngStyle]="{'background-color': item.Light == 'G' ? 'rgb(0, 119, 200)' : (item.Light == 'R' ? 'rgb(243, 82, 77)' : 'rgb(255, 192, 0)')}"
            class="space_header_background">
            <ion-grid>
                <ion-row>
                    <ion-col text-left>
                        <h1 class="space_header">{{ item.Area }}</h1>
                    </ion-col>
                    <ion-col text-right>
                        <div class="header-icon-logo"></div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-right>
                        <h3 class="space_updated_time">{{ item.UpdateDatetime }}</h3>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-card-content class="card-cotent">
            <ion-grid>
                <ion-row>
                    <ion-col style="border-right: solid #BFBFBF 0.005em">
                        <div class="row">
                            <div class="col col-75">
                                <h1 class="space_num"><b>{{ item.CurrentQuantity }}</b></h1>
                            </div>
                            <div class="col" style="text-align: right;">
                                <p>space</p>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col style="border-left: solid #BFBFBF 0.005em">
                        <div class="row">
                            <div class="col col-75">
                                <h1 class="distance_num" *ngIf="gps_distance[i] == null"><b>　-</b></h1>
                                <h1 class="distance_num" *ngIf="gps_distance[i] != null"><b>{{ gps_distance[i] |
                                        number:0 }}</b></h1>
                            </div>
                            <div class="col" style="text-align: right;">
                                <p>meter</p>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>