page-home {
    .space_header{
        color: White;
        padding: 8px;
    }

    .space_updated_time{
        color: white;
    }

    .card-cotent{
        padding: 2px 16px 2px;
    }
    
    .space_num{
      font-size: 25px;
    }

    .distance_num{
      font-size: 25px;
      padding-left:12px;
    }

    .masters{
        background-color: rgb(248, 248, 248);
    }
   
    .space_header_background {
        height: 80px;
        width: 100%;
        position: relative;
    }
}
